<!DOCTYPE html>
<head>
  <title>Reto Tecnico</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="todo-container">
    <div class="header" id="DIV">
      <h2>Lista de quehaceres</h2>
      <form action="/" method="POST">
        <input
          type="text"
          name="content"
          id="Input"
          placeholder="Nueva Tarea..."
        />
        <button type="submit"><span class="addBtn">Añadir</span></button>
      </form>
    </div>

    <ul>
      <% tareas.forEach(details => {%>
      <li class="todo-list-item">
        <div class="todo-list-item-name"><%= details.content %></div>
        <% if(details.state === "Done") {%>
        <a href="/remove/<%= details._id %>">
          <span class="close">Eliminar</span>
        </a>
        <% } else { %>
        <a href="/edit/<%= details._id %>">
          <span>Marca como realizada</span>
        </a>
        <% }%>
      </li>
      <% }) %>
    </ul>
  </div>

  <ul>
    <li class="todo-list-item">
      <div>
        <a href="/removeAll">
          <div>--</div>
          <span class="close">ELIMINAR TODAS LAS TAREAS</span>
        </a>
      </div>
    </li>
    <li class="todo-list-item">
      <div>
        <a href="/removeMarked">
          <div>--</div>
          <span class="close">ELIMINAR TAREAS REALIZADAS</span>
        </a>
      </div>
    </li>
  </ul>
</body>
